{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            {% for human in humans %}
                {{ human.id }}
                {{ human.name }}
                {{ human.age }}
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

