<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><!-- Title --></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/1b2c072852.js" crossorigin="anonymous"></script>
  </head>

  <body class="background">

    <div class="container">
      <div class="page">
        <header class="primary-header / display-flex align-items-center padding-inline-600">
          <img class="primary-header__logo" src="logo.png" alt="Marthypyro logo">
          <div class="primary-header__search / margin-top-200">
            <input type="search" placeholder="Vyhledat produkt...">
            <i class="search-icon fa-solid fa-magnifying-glass / text-neutral-900"></i>
          </div>
          <div class="primary-header__user">
            <a class="text-primary-400 fw-regular" href="">Přihlášení</a>
          </div>
        </header>
    
        <main class="content / bg-neutral-700">
  
          <aside>
            <nav class="category / bg-neutral-800" aria-label="Primary">
              <ul class="category-list" role="list">
                <li>
                  <a href="">
                    Tiché efekty
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Akce - Slevy
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Zahradní a svatební ohňostroje
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Airsoft, paintbal
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Dětská pyrotechnika
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Dýmovnice
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Fontány a vulkány
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Interiérové efekty
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Kompakty
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Konfety
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Kulové pumy a výmetníky
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Motýli
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Petardy
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Pochodně a stroboskopy
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Prskavky
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Rakety
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Římské svíce
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Ostatní a pomocný materiál
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Létající a rotující efekty
                    <i class="fa-solid fa-circle"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Narozeniny a párty - doplňky
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Nože a obranné spreje
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a href="">
                    Vzduchovky a plynovky
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
  
            <section class="filter / margin-top-500">
              <h4 class="text-primary-400 margin-left-400 fs-500 padding-bottom-400">Filtry</h4>
              <div class="filter-wrapper / margin-left-500">
                <div class="filter-box">
                  <p>Doba efektu</p>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="filter-box">
                  <p>Dvě zápalnice</p>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="filter-box">
                  <p>Kategorie</p>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="filter-box">
                  <p>NEC (g)</p>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="filter-box">
                  <p>Počet ran</p>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="filter-box">
                  <p>Počet v CTN</p>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="filter-box">
                  <p>Průměr výmetníku (mm)</p>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="filter-box">
                  <p>Rozměry výrobku (šxhxv) cm</p>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="filter-box">
                  <p>Vějíř</p>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
              </div>
            </section>
          </aside>
          
          <section class="product-content">
            <section class="video">
  
            </section>
  
            <section class="product-detail / margin-right-700">
              <img class="margin-600" src="test.png" alt="product-img">
              <div class="product-detail__main-info / margin-block-600">
                <h2 class="fs-primary-heading">Bloody Valentine 16 ran - cal 25 mm</h2>
                <p class="padding-inline-400 padding-block-200 margin-top-400">Modrý chvost do červeného blikání s modrými hvězdami</p>
                <div class="main-info-instock / display-flex padding-inline-400">
                  <div class="instock-wrapper / display-flex align-items-center" style="--gap: 0.5rem">
                    <p>Na skladě:</p>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                  <div class="instock-wrapper / display-flex align-items-center" style="--gap: 0.5rem">
                    <p>V rezervaci:</p>
                    <div class="instock-box" state="inreservation">
                      <p>2</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-detail__parameters / margin-top-700">
                <ul class="parameters-list" role="list">
                  <li class="parameter">
                    <span class="parameter-text">Nec (g):</span>
                    <span class="parameter-value">20</span>
                  </li>
                  <li class="parameter">
                    <span class="parameter-text">Počet ran:</span>
                    <span class="parameter-value">16</span>
                  </li>
                  <li class="parameter">
                    <span class="parameter-text">Doba efektu:</span>
                    <span class="parameter-value">19 sec.</span>
                  </li>
                  <li class="parameter">
                    <span class="parameter-text">Vějíř:</span>
                    <span class="parameter-value">Ano</span>
                  </li>
                  <li class="parameter">
                    <span class="parameter-text">Průměr výmetníku:</span>
                    <span class="parameter-value">25 mm</span>
                  </li>
                  <li class="parameter">
                    <span class="parameter-text">Kategorie:</span>
                    <span class="parameter-value">F2 - prodej od 18 let</span>
                  </li>
                  <li class="parameter">
                    <span class="parameter-text">Dvě zápalnice:</span>
                    <span class="parameter-value">Ano</span>
                  </li>
                  <li class="parameter">
                    <span class="parameter-text">Počet v CTN:</span>
                    <span class="parameter-value">12</span>
                  </li>
                  <li class="parameter">
                    <span class="parameter-text">Rozměry výrobku:</span>
                    <span class="parameter-value">12,5 x 12,5 x 17,5</span>
                  </li>
                </ul>
              </div>
            </section>
  
            <section class="products">
              <h2 class="fs-primary-heading padding-left-200 margin-bottom-500">Kompakty 16 ran</h2>
              <div class="products-grid / padding-left-600 padding-right-800">
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
                <div class="product">
                  <a class="product-img-link" href="">
                    <img class="product-img" src="test.png" alt="productImg">
                  </a>
                  <div class="product-title / text-align-center padding-inline-400 margin-top-200 margin-bottom-300">
                    <a class="text-primary-400 fs-500" href="">
                      Bloody Valentine 16 ran - cal 25 mm
                    </a>
                  </div>
                  <p class="product-description / text-align-center fs-300 padding-bottom-200">Modrý chvost do červeného blikání s modrými hvězdami</p>
                  <div class="product-info / display-flex align-items-center justify-content-end">
                    <i class="fa-solid fa-video"></i>
                    <div class="instock-box" state="instock">
                      <p>26</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
    
        </main>
    
        <footer class="primary-footer / bg-neutral-800 display-flex align-items-center">
          <img class="primary-footer__logo / margin-left-700" src="logo.png" alt="Marthypyro logo">
          <nav class="primary-footer__nav / margin-left-900" aria-label="Secondary">
            <ul class="primary-footer__nav-list" role="list">
              <li><a href="">Tiché efekty</a></li>
              <li><a href="">Akce - slevy</a></li>
              <li><a href="">Zahradní a svatební ohňostroje</a></li>
              <li><a href="">Airsoft, paintbal</a></li>
              <li><a href="">Dětská pyrotechnika</a></li>
              <li><a href="">Dýmovnice</a></li>
              <li><a href="">Fontány a vulkány</a></li>
              <li><a href="">Interiérové fontány</a></li>
              <li><a href="">Kompakty</a></li>
              <li><a href="">Konfety</a></li>
              <li><a href="">Kulové pumy a výmetníky</a></li>
              <li><a href="">Motýli</a></li>
              <li><a href="">Petardy</a></li>
              <li><a href="">Pochodně a stroboskope</a></li>
              <li><a href="">Prskavky</a></li>
              <li><a href="">Rakety</a></li>
              <li><a href="">Římské svíce</a></li>
              <li><a href="">Ostatní a pomocný materiál</a></li>
              <li><a href="">Létající a rotující efekty</a></li>
              <li><a href="">Narozeniny a párty - doplňky</a></li>
              <li><a href="">Nože a obranné spreje</a></li>
              <li><a href="">Vzuchovky a plynovky</a></li>
            </ul>
          </nav>
          <div class="primary-footer__author / padding-400 fs-100 text-neutral-400">
            <p>Made by Matěj Hopp</p>
          </div>
        </footer>
      </div>
    </div>
    
    <script src="/main.js"></script>
  </body>
</html>