<header class="primary-header / display-flex align-items-center padding-inline-600">
    <a href="{{ path('marthy_default') }}">
        <img class="primary-header__logo" src="{{ url("marthy_default") }}/layouts/{{ layout }}/img/logo.png" alt="Marthypyro logo">
    </a>
    <div class="primary-header__search / margin-top-200">
        <input type="search" placeholder="Vyhledat produkt...">
        <i class="search-icon fa-solid fa-magnifying-glass / text-neutral-900"></i>
    </div>
    <div class="primary-header__user">
        <a class="text-primary-400 fw-regular" href="{{ path('pohoda') }}">Přihlášení</a>
    </div>
</header>